---
import App from "../components/App.jsx";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plataforma Mascotas Perdidas</title>
  </head>
  <body class="font-sans">
    <App client:load>
      <slot />
    </App>
  </body>
</html>
